{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/hello.css' %}">
</head>
<body>
    <center>
        <h1>Keep smiling, because life is a beautiful thing and there's so much to smile about. - ...</h1>
        <img src="{% static 'images/life.jpg' %}" alt="">
        <img src="{% static 'images/motivational.jpg' %}" alt="">
        <img src="{% static 'images/psychology.jpg' %}" alt="">
    </center>
</body>
</html>